# tx.py (노트북)
FRAME_LISTEN_HOST=0.0.0.0
FRAME_LISTEN_PORT=8000

PI_RESULT_HOST=0.0.0.0
PI_RESULT_PORT=8000

# final_main.py (라즈베리파이)
LAPTOP_IP=0.0.0.0
LAPTOP_PORT=8000

PI_LISTEN_HOST=0.0.0.0
PI_LISTEN_PORT=8000

#모델
MODEL_PATH=best.pt
